In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/BitcoinHeistData.csv")
data.shape

(2916697, 10)

In [3]:
data.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,princetonLocky

In [4]:
for i in ["year", "looped"]:
    print(data[i].unique())

[2017 2016 2013 2014 2015 2012 2011 2018]
[    0     1  3283 ... 11938  7168  8173]

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data.label = le.fit_transform(data.label.values)
data.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,100050000.0,26
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,100000000.0,27
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,200000000.0,26
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,71200000.0,26
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,200000000.0,27

In [6]:
le = LabelEncoder()
data["address"] = le.fit_transform(data["address"].values)
data.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,23,2017,11,18,0.008333,1,0,2,100050000.0,26
1,128,2016,132,44,0.000244,1,0,1,100000000.0,27
2,169,2016,246,0,1.000000,1,0,2,200000000.0,26
3,217,2016,322,72,0.003906,1,0,2,71200000.0,26
4,293,2016,238,144,0.072848,456,0,1,200000000.0,27

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data["income"] = scaler.fit_transform(np.array(data["income"]).reshape(-1, 1))
data.head()

,address,year,day,length,weight,count,looped,neighbors,income,label
0,23,2017,11,18,0.008333,1,0,2,1.401999e-06,26
1,128,2016,132,44,0.000244,1,0,1,1.400998e-06,27
2,169,2016,246,0,1.000000,1,0,2,3.402425e-06,26
3,217,2016,322,72,0.003906,1,0,2,8.245876e-07,26
4,293,2016,238,144,0.072848,456,0,1,3.402425e-06,27

In [8]:
X = data.drop(columns = ['label'], axis = 1).values
y = data['label'].values

print("X shape: ", X.shape)
print("y shape: ", y.shape)

X shape:  (2916697, 9)
y shape:  (2916697,)

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, shuffle = True)

print("X train shape: ", X_train.shape)
print("y train shape: ", y_train.shape)
print("X test shape: ", X_test.shape)
print("y test shape: ", y_test.shape)

X train shape:  (1458348, 9)
y train shape:  (1458348,)
X test shape:  (1458349, 9)
y test shape:  (1458349,)

In [10]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier(n_estimators = 50, max_depth = 4, n_jobs = -1)
clf_rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, n_estimators=50, n_jobs=-1)

In [11]:
from sklearn.metrics import accuracy_score, classification_report

accuracy_score(y_train, clf_rf.predict(X_train))

0.985818199771248

In [12]:
accuracy_score(y_test, clf_rf.predict(X_test))

0.9857846098567626

In [13]:
from sklearn.ensemble import ExtraTreesClassifier

clf_et = ExtraTreesClassifier(n_estimators = 50, max_depth = 4, n_jobs = -1)
clf_et.fit(X_train, y_train)

ExtraTreesClassifier(max_depth=4, n_estimators=50, n_jobs=-1)

In [14]:
accuracy_score(y_train, clf_et.predict(X_train))

0.985818199771248

In [15]:
accuracy_score(y_test, clf_et.predict(X_test))

0.9857846098567626

In [16]:
from sklearn.tree import DecisionTreeClassifier

clf_dt = DecisionTreeClassifier()
clf_dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [17]:
accuracy_score(y_train, clf_dt.predict(X_train))

1.0

In [18]:
accuracy_score(y_test, clf_dt.predict(X_test))

0.9792923367451823

In [19]:
import os
base_dir = os.getcwd()
print(base_dir)

/content

In [20]:
import pickle as pk

pk.dump(clf_rf, open(os.path.join(base_dir, "/content/drive/MyDrive/models/model1.pickel"), "wb"))
pk.dump(clf_et, open(os.path.join(base_dir, "/content/drive/MyDrive/models/model2.pickel"), "wb"))
pk.dump(clf_dt, open(os.path.join(base_dir, "/content/drive/MyDrive/models/model3.pickel"), "wb"))

In [21]:
from joblib import Parallel, delayed

def load_models():
    model1 = pk.load(open(os.path.join(base_dir, "/content/drive/MyDrive/models/model1.pickel"), "rb"))
    model2 = pk.load(open(os.path.join(base_dir, "/content/drive/MyDrive/models/model2.pickel"), "rb"))
    model3 = pk.load(open(os.path.join(base_dir, "/content/drive/MyDrive/models/model3.pickel"), "rb"))
    
    return (model1, model2, model3)

In [22]:
model1, model2, model3 = load_models()

Parallel(4)((delayed(model1.fit)(X_train, y_train), 
             delayed(model2.fit)(X_train, y_train),
             delayed(model3.fit)(X_train, y_train)))

[RandomForestClassifier(max_depth=4, n_estimators=50, n_jobs=-1),
 ExtraTreesClassifier(max_depth=4, n_estimators=50, n_jobs=-1),
 DecisionTreeClassifier()]

In [23]:
def predict_train():
    model1_train = model1.predict(X_train)
    model2_train = model2.predict(X_train)
    model3_train = model3.predict(X_train)
    
    return (model1_train, model2_train, model3_train)

In [24]:
model1_train, model2_train, model3_train = predict_train()

In [25]:
def predict_train_parallel():
    model1_train, model2_train, model3_train = Parallel(16)((delayed(model1.predict)(X_train),
                                                             delayed(model2.predict)(X_train),
                                                             delayed(model3.predict)(X_train)))
    
    return (model1_train, model2_train, model3_train)

In [26]:
model1_train, model2_train, model3_train = predict_train_parallel()

In [27]:
def predict_test():
    model1_test = model1.predict(X_test)
    model2_test = model2.predict(X_test)
    model3_test = model3.predict(X_test)
    
    return (model1_test, model2_test, model3_test)

In [28]:
model1_test, model2_test, model3_test = predict_test()

In [29]:
def predict_train_parallel():
    model1_test, model2_test, model3_test = Parallel(16)((delayed(model1.predict)(X_test),
                                                             delayed(model2.predict)(X_test),
                                                             delayed(model3.predict)(X_test)))
    
    return (model1_test, model2_test, model3_test)

In [30]:
model1_test, model2_test, model3_test = predict_train_parallel()

In [31]:
estimators = []
estimators.extend([('model1', model1), ('model2', model2), ('model3', model3)])
print(len(estimators))

3

In [32]:
# serial implementation
from sklearn.ensemble import VotingClassifier

def serial_voting():
    estimators = []
    estimators.extend([('model1', model1), ('model2', model2), ('model3', model3)])
    
    voting_hard = VotingClassifier(estimators = estimators, voting = 'hard')
    voting_hard.fit(X_train, y_train)
    
    y_pred = voting_hard.predict(X_train)
    
    print("accuracy score: ", accuracy_score(y_train, y_pred))

In [33]:
%%time

serial_voting()

accuracy score:  0.985818199771248
CPU times: user 57.3 s, sys: 456 ms, total: 57.8 s
Wall time: 2min 3s

In [34]:
def parallel_voting_1():
    estimators = []
    estimators.extend([('model1', model1), ('model2', model2), ('model3', model3)])
    
    voting_hard = VotingClassifier(estimators = estimators, voting = 'hard', n_jobs = -1)
    voting_hard.fit(X_train, y_train)
    
    y_pred = voting_hard.predict(X_train)
    
    print("accuracy score: ", accuracy_score(y_train, y_pred))

In [35]:
parallel_voting_1()

accuracy score:  0.985818199771248

In [36]:
def parallel_voting_2():
    voting_avg = Parallel(4)((delayed(model1.predict)(X_train),
                              delayed(model2.predict)(X_train),
                              delayed(model3.predict)(X_train)))
    print("accuracy score: ", accuracy_score(y_train, np.mean(voting_avg, axis = 0).round() ))

In [37]:
parallel_voting_2()

accuracy score:  0.985818199771248